mixin navBar(data)
    nav.navigation-main
        ul.navigation-main__items
            each item in data
                if(item.active)
                    li: span.active!= item.title
                else
                    li: a(href=item.url): span!= item.title

mixin cardImageOverlay(data)
    each item in data
        .col-lg-3
            a(href!=item.href)
                .card.card-trend
                    .card-img.trend__img(style=`background-image: url('${item.src}')`)
                    .card-img-overlay.d-flex.align-items-center
                        p.card-title.text-center!= item.title

mixin cardsWithTitleAndBudge(data)
    .container
        .row
            .card-deck
                each item in data
                    .col-lg-4
                        .card.card-article
                            .card-img__wrapper
                                picture.card-img-top
                                    source(srcset!= `${item.srcset}` type="image/webp")
                                    img(src!= `${item.src}` alt!= `${item.title}`)
                                span.badge.card-badge!=item.badge
                            .card-body
                                a(href!=`${item.href}`)
                                    .card-title
                                        p!= item.title

mixin cardsWithTitle(data)
    .container
        .row
            .card-deck
                each item in data
                    .col-lg-4
                        .card.card-article
                            .card-img__wrapper
                                picture.card-img-top
                                    source(srcset!= `${item.srcset}` type="image/webp")
                                    img(src!= `${item.src}` alt!= `${item.title}`)
                            .card-body
                                a(href!=`${item.href}`)
                                    .card-title
                                        p!= item.title

mixin svg(name)
    svg(class!= `${name}`)
        use(xlink:href="img/symbol/svg/sprite.svg#" + name)

mixin footerArticles(data)
    p.article__title Read also
    ul.article__cards
        each item in data
            a(href!=item.href)
                li.article__card.d-lg-flex
                    .row
                        .col-lg-4
                            picture.card__img
                                source.img-fluid(srcset!= `${item.srcset}` type="image/webp")
                                img.img-fluid(src!= `${item.src}` alt!= `${item.title}`)
                        .col-lg-8
                            p.card__title!= item.title

