// TODO move to mixin
mixin navBar(data, isSorted)
    - data = isSorted ? data.sort(function (a, b) { return a.title < b.title ? -1 : 1; }) : data;
    ul.navigation-main__items
        each item in data
            if(item.active)
                li: span.active!= item.title
            else
                li: a(href=item.url): span!= item.title

mixin search
    .col-lg-1.col-md-2.ml-auto.order-3.order-lg-0.col-2.order-sm-2.d-flex.align-items-center
        button.navigation__search.my-auto(type="button")
            +svg('search')
    .search-wrapper.d-none
        .search-group
            form
                .input-group
                    input.form-control(type='text')
                    .input-group-append
                        button.btn.btn-search(type='button') Поиск
        p.no-results Нет результатов


mixin cardImageOverlay(data)
    each item in data
        .col-lg-3.col-md-6.mb-md-3
            a(href!=item.href)
                .card.card-trend
                    .card-img.trend__img(style=`background-image: url('${item.src}')`)
                    .card-img-overlay.d-flex.align-items-center
                        p.card-title.text-center!= item.title

mixin cardsLastTests(data)
    .card-deck
        each item in data
            .col-lg-4
                .card.card-article
                    .card-img__wrapper
                        picture.card-img-top
                            source.img-fluid(srcset!= `${item.srcset}` type="image/webp")
                            img.img-fluid(src!= `${item.src}` alt!= `${item.title}`)
                        span.badge.card-badge!=item.badge
                    .card-body
                        a(href!=`${item.href}`)
                            .card-title
                                p!= item.title

mixin cardsWithTitle(data)
    .container
        .card-deck
            each item in data
                .col-lg-4.col-md-6
                    .card.card-article
                        .card-img__wrapper
                            picture
                                source.img-fluid(srcset!= `${item.srcset}` type="image/webp")
                                img.img-fluid(src!= `${item.src}` alt!= `${item.title}`)
                        .card-body
                            a(href!=`${item.href}`)
                                .card-title
                                    p!= item.title

mixin cardsWithTitleAndBudge(data)
    .container
        .card-deck
            each item in data
                .col-lg-4.col-md-6
                    .card.card-article
                        .card-img__wrapper
                            picture.card-img-top
                                source.img-fluid(srcset!= `${item.srcset}` type="image/webp")
                                img.img-fluid(src!= `${item.src}` alt!= `${item.title}`)
                            span.badge.card-badge!=item.badge
                        .card-body
                            a(href!=`${item.href}`)
                                .card-title
                                    p!= item.title

mixin innnerArticle(data)
    each item in data
        .article__card.article__card_inner
            .d-flex
                .col-md-5
                    a(href!=`${item.href}`)
                        picture.card-img
                            source.img-fluid(srcset!= `${item.srcset}` type="image/webp")
                            img.img-fluid(src!= `${item.src}` alt!= `${item.title}`)
                .col-md-7
                    .card-body
                        a(href!=`${item.href}`).card-title!= item.title
                        p.card-text!= item.text

mixin svg(name)
    svg(class!= `${name}`)
        use(xlink:href="img/symbol/svg/sprite.svg#" + name)

mixin footerArticles(data)
    p.article__title Read also
    ul.article__cards
        each item in data
            if(item.active)
                a(href!=item.href)
                    li.article__card.d-lg-flex
                        .row
                            .col-lg-4
                                picture.card__img
                                    source.img-fluid(srcset!= `${item.srcset}` type="image/webp")
                                    img.img-fluid(src!= `${item.src}` alt!= `${item.title}`)
                            .col-lg-8
                                p.card__title!= item.title

